@model Task_Two_MVC.ViewModel.DepartmentViewModel

@{
    ViewData["Title"] = "Department Details";
}

<h2>Department Details</h2>

<table class="table table-bordered">
    <tr>
        <th style="width: 200px; text-align: left;">Department Name</th>
        <td>@Model.DepartmentName</td>
    </tr>
    <tr>
        <th style="width: 200px; text-align: left;">Department State</th>
        <td>@Model.DepartmentState</td>
    </tr>
    <tr>
        <th style="width: 200px; text-align: left;">Students Above 25</th>
        <td>
            <select class="form-control">
                @foreach (var student in Model.StudentsAbove25)
                {
                    <option value="@student.Value">@student.Text</option>
                }
            </select>
        </td>
    </tr>
</table>

<br />
<a asp-action="ShowAll" class="btn btn-secondary">Back to List</a>


